/vendor/
/node_modules/
/.env
/.env.*
!/.env.example
/public/build/
/public/css/filament/
/public/js/filament/
/public/fonts/filament/
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
/database/*.sqlite
/.phpunit.cache/
!/bootstrap/cache/.gitignore
!/storage/app/private/
!/storage/app/private/.gitignore
!/storage/framework/cache/
!/storage/framework/cache/data/
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/
!/storage/framework/sessions/.gitignore
!/storage/framework/views/
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore
